<div class="container">
  <div class="row mt-2">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h1>Q</h1>
          <span><h2>Who is our resident Guernsey expert?</h2></span>
        </div>
        <div class="card-body">
          <div class="card">
            <div class="card-header">
              <h4>Answers</h4>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quibusdam ducimus eos, assumenda consectetur esse consequatur,
                quisquam doloremque reprehenderit quod sed eaque eveniet animi
                odio accusantium ad itaque odit rerum excepturi.
              </li>
              <li class="list-group-item">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quibusdam ducimus eos, assumenda consectetur esse consequatur,
                quisquam doloremque reprehenderit quod sed eaque eveniet animi
                odio accusantium ad itaque odit rerum excepturi.
              </li>
              <li class="list-group-item">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quibusdam ducimus eos, assumenda consectetur esse consequatur,
                quisquam doloremque reprehenderit quod sed eaque eveniet animi
                odio accusantium ad itaque odit rerum excepturi.
              </li>
              <li class="list-group-item">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Quibusdam ducimus eos, assumenda consectetur esse consequatur,
                quisquam doloremque reprehenderit quod sed eaque eveniet animi
                odio accusantium ad itaque odit rerum excepturi.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
